
/* AppBar */
.google_translate{
    position:absolute;
    right:16px;}

.backbtn{
    position:absolute;
    left:16px;
}



/* CenterCont css */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top:20px; */
  }

/* signupgoogle */
  

/* inputfield */

.inputfield{
    position:relative;
}
.inputimage{
    position: absolute;
    left:15px;
    top:12px;

}


